#admin-galeria-page {
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#admin-galeria-page .logo {
  position: absolute;

  left: 20px;
  top: 20px;
}

#admin-galeria-page .content-wrapper {
  background: #fff;

  height: 700px;
  width: 450px;

  border-radius: 10px;

  padding: 30px;

  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  flex-wrap: column;
  align-items: center;
  justify-content: top;
}

#admin-galeria-page .content-wrapper header {
  padding-bottom: 30px;
  font-size: 28px;
}

#admin-galeria-page .content-wrapper ul {
  overflow-y: scroll;

  height: 580px;
  width: 400px;

  list-style-type: none;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  flex-wrap: column;
  align-items: center;
  justify-content: top;
  overflow-y: scroll;

  align-items: left;
  justify-content: top;
}

#admin-galeria-page .content-wrapper .persons {
  margin: 5px;
  width: 350px;
  padding: 10px;
  border-radius: 5px;

  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#admin-galeria-page .content-wrapper .delete-icon {
  height: 20px;
  width: 20px;
}
